<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnvironmentVariables</key>
	<dict>
		<key>PATH</key>
		<string>/usr/local/bin:/usr/bin:/bin:/usr/sbin:/sbin</string>
		<key>PYTHONUNBUFFERED</key>
		<string>1</string>
	</dict>
	<key>KeepAlive</key>
	<true/>
	<key>Label</key>
	<string>cn.qwenwork.camusb-bridge</string>
	<key>ProgramArguments</key>
	<array>
		<string>/Users/m1work/.workbuddy/binaries/python/envs/default/bin/python</string>
		<string>/Users/m1work/Projects/ESP32S3-RLCD/esp32-cam-fw/camusb_bridge.py</string>
	</array>
	<key>RunAtLoad</key>
	<true/>
	<key>StandardErrorPath</key>
	<string>/tmp/camusb_bridge.log</string>
	<key>StandardOutPath</key>
	<string>/tmp/camusb_bridge.log</string>
	<key>ThrottleInterval</key>
	<integer>10</integer>
	<key>WorkingDirectory</key>
	<string>/Users/m1work/Projects/ESP32S3-RLCD/esp32-cam-fw</string>
</dict>
</plist>
